@font-face {
	font-family: "Ubuntu Mono";
 	src: url("../webfonts/UbuntuMono-Regular.ttf");
}

@font-face {
	font-family: "Perfect DOS VGA 437";
 	src: url("../webfonts/Perfect DOS VGA 437.ttf");
}

@font-face {
	font-family: "Perfect DOS VGA 437 Win";
 	src: url("../webfonts/Perfect DOS VGA 437 Win.ttf");
}

@font-face {
	font-family: "Windows command prompt";
 	src: url("../webfonts/windows_command_prompt.ttf");
}




div.textToCopy {
	margin: 10px 0;
	font-size: 20px;
}

input.code {
	width: calc(100% - 51px);
	height: 24px;
	background-color: #000;
	color: #fff;
	font-family: "Ubuntu Mono", monospace;
	font-size: 18px;
}

button.btnCopyToClipboard {
	//float: right;
	margin: 0;
	//padding: 5px;
	width: 40px;
	height: 40px;
	border: none;
	box-shadow: 0px 0px 5px #aaa;
	font-size: 20px;
	cursor: pointer;
}










* { box-sizing: border-box; }
html { scroll-behavior: smooth; }

body {
	margin: 0;
	font-size: 16px;
}

header {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
}

	header ul {
		float: right;
		margin: 0;
		padding: 0;
		font-size: 16px;
	}

		header ul li {
			display: inline;
		}

			header ul li a {
				float: left;
				padding: 12px 6px;
			}

#header-content,
#wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 1250px;
}

nav {
	position: fixed;
	z-index: 1;
	top: 0;
	margin-top: 53px;
	padding: 10px 0;
	width: 300px;
	height: calc(100% - 53px);
	white-space: nowrap;
	scrollbar-width: thin;
	overflow-y: auto;
	overflow-x: hidden;
}

	nav h2 {
		font-size: 26px;
	}

	nav ul {
		padding-left: 0;
	}

		nav ul i {
			vertical-align: sub;
		}

	nav a {
		display: block;
		padding: 7px 10px;
	}

		nav a i {
			margin-right: 5px;
			font-size: 24px;
		}

main {
	position: relative;
	z-index: 0;
	margin-top: 50px;
	margin-left: 300px;
	padding: 20px;
}

	main ul {
		padding-left: 10px;
		line-height: 1.5em;
	}

	section {
		margin: 20px 0;
	}

		article {
			padding-top: 40px;
		}

footer {
	margin: 20px;
	margin-left: 250px;
	text-align: center;
}

ul {
	list-style-type: none;
}



a { text-decoration: none; }

h1 {
	float: left;
	margin: 0;
	font-size: 27px;
}

h1 a {
	display: inline-block;
	padding: 6px 8px;
}

h2, h3, h4, h5 {
	font-weight: normal;
}

h2 {
	margin: 0;
	font-size: 42px;
}

footer h2 { font-size: 18px; }

h3 {
	font-size: 30px;
}

h4 {
	margin: 20px 0;
	font-size: 26px;
}

h5 {
	margin: 0;
	font-size: 20px;
}



table {
	width: 100%;
	border-collapse: collapse;
}

	/*th, td {
		padding: 5px;
		text-align: center;
	}

	td:first-child {
		text-align: left;
	}*/



	th, td {
		padding: 5px;
		border: 1px solid #bbb;
		text-align: center;
	}

	th {
		background-color: #444;
		color: white;
	}

.screenshot {
	margin: 70px 0;
}

.screenshot a {
	display: block;
	margin: 10px;
	box-shadow: 0px 0px 10px #000;
	transition: all 0.2s ease-in-out;
}

.screenshot a:hover {
	opacity: 0.8;
}

main img {
	width: 100%;
}

header img {
	display: inline-block;
	margin-bottom: -2px;
	width: 20px;
}







form {
	
}

	label {
		display: inline-block;
		padding: 5px;
		width: 290px;
		vertical-align: top;
		font-size: 20px;
	}

	input[type="text"],
	input[type="url"],
	textarea {
		width: calc(100% - 300px);
		font-size: inherit;
	}

	textarea {
		height: 100px;
		resize: vertical;
	}

	button {
		margin-left: 290px;
		padding: 5px;
		width: calc(100% - 300px);
		font-size: 16px;
	}

.author {
	float: left;
}

.date {
	float: right;
}



.inline-block { display: inline-block; }
.float-left { float: left; }
.float-right { float: right; }
.clear { clear: both; }
.center { margin-left: auto; margin-right: auto; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.col-50 { width: 50%; }
.col-33 { width: 33.3%; }
.col-25 { width: 25%; }
.col-16 { width: 16.6%; }




.card-container {
	display: inline-block;
	padding: 5px;
}

.padding-5 img  {
	padding: 5px;
}

	.card-container a:hover {
		text-decoration: none;
	}

		.card-content img {
			display: block;
			background-color: #fff;
		}

		.card-caption {
			padding: 5px;
			text-align: center;
		}

			.card-caption h3 {
				font-size: 22px;
			}

			.card-caption p {
				font-size: 14px;
			}


dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
  padding: 5px;
  font-size: large;
}

dd {
  grid-column-start: 2;
  padding: 5px;
}





pre {
	margin: 0;
}

kbd
{
	display: inline-block;
	margin: 2px 0;
	padding: 0 7px;
	border: 1px solid #aaa;
	border-radius: 3px;
	background-color: #fff;
	color :#333;
	box-shadow: 0 2px 0 rgba(0,0,0,0.3), 0 0 10px 2px #eaeaea inset;
	font-size: 14px;
}

var {
	margin: 1px 0;
	padding: 3px 5px;
	border: 1px dashed #777;
	border-radius: 3px;
	background-color: #fafafa;
	//font-size: 14px;
	font-style: normal;
}

code {
	display: inline-block;
	margin: 2px 0;
	padding: 3px 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #eaeaea;
	//color: #fff;
}

samp {
	display: block;
	margin: 20px auto;
	max-width: calc(80ch + 4px);
	border: 1px solid #000;
	
}

	samp div.caption {
		padding: 5px;
		text-align: center;
	}

	samp pre {
		margin: 0;
		padding: 2px;
		width: 100%;
		overflow-x: auto;
		background-color: #000;
		color: #fff;
	}

	samp.linux pre,
	code.linux,
	var.linux {
		background-color: #2E3436;
		color: #D3D7CF;
		font-family: "Monospace Regular", monospace;
	}

	samp.dos pre,
	code.dos {
		background-color: #000;
		color: #a8a8a8;
		font-family: "Perfect DOS VGA 437", monospace;
	}

	samp.windows-cmd pre,
	code.windows-cmd {
		background-color: #0c0c0c;
		color: #ccc;
		font-family: Consolas, monospace;
	}

	samp.powershell pre,
	code.powershell {
		background-color: #012456;
		color: #eeedf0;
		font-family: Consolas, monospace;
	}













.dosbox-container {
	width: 640px;
	height: 400px;
}

.dosbox-container > .dosbox-overlay {
	background: url(screenshots-img/dosbox-start.png);
}

.dosbox-start {
	box-sizing: border-box;
	position: absolute !important;
	top: 0;
	padding: 170px 0;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	color: #fff !important;
	text-shadow: 1px 1px 3px #000;
	font-size: 35px !important;
	font-variant: small-caps;
	text-decoration: none !important;
}



.button {
	display: inline-block;
	margin: 10px;
	padding: 10px;
}

.button:hover {
	text-decoration: none;
}

iframe {
	width: 100%;
	height: 400px;
}




@media only screen and (max-width: 1000px) {
	body { margin: 0; }
	header span { display: none; }
	nav { display: none; }
	main { padding: 10px; }
	main, footer { margin-left: 0; }

	input[type="text"],
	textarea,
	button {
		margin-left: auto;
		width: calc(100% - 10px);
	}



	.col-50 { width: 100%; }
	.col-33 { width: 100%; }
	.col-25 { width: 50%; }
	.col-16 { width: 33.3%; }
}