body,
input,
textarea,
button,
samp div.caption {
	font-family: "Ubuntu Mono", monospace;
}

header {
	z-index: 2;
}

nav {
	margin-top: 42px;
	height: calc(100% - 42px);
}

header,
nav,
samp div {
	background-color: #eee;
	color: #000;
}

samp {
	border-color: #aaa;
}

body,
main {
	background-color: #fff;
	color: #000;
}





header,
nav {
	box-shadow: 0px 0px 10px #777;
}




hr {
	border: 1px solid #bbb;
}





a {
	color: #1a3665;
}

header a:hover,
nav a:hover {
	background-color: #ddd;
}

main a:hover {
	text-decoration: underline;
}

button.clipboard:hover {
	box-shadow: 0px 0px 5px #aaa;
}

.card-content {
	box-shadow: 0px 0px 3px #aaa;
}

.card-content:hover {
	box-shadow: 0px 0px 7px #aaa;
}

	.card-caption {
		background-color: #eee;
	}

.button {
	background-color: rgb(238, 238, 238); /* #eee */
	box-shadow: 0px 0px 2px #777;
}

.button:hover {
	background-color: rgba(238, 238, 238, 0.7);
	box-shadow: 0px 0px 4px #777;
}