body {
	font-family: "Perfect DOS VGA 437", Consolas, monospace;
}

header {
	border-bottom-width: 1px;
	border-bottom-style: double;
	text-transform: lowercase;
}

nav {
	margin-top: 45px;
	height: calc(100% - 45px);
	border-right-width: 1px;
	border-right-style: double;
	text-transform: lowercase;
}

hr {
	border: none;
	border-top-width: 1px;
	border-top-style: double;
}

body,
header,
header a,
nav,
nav a,
nav hr,
main,
hr {
	background-color: #000;
	color: #fff;
}

samp {
	border-color: #aaa;
}

main a {
	color: #aaa;
}

header a:hover,
main a:hover,
nav a:hover,
samp div {
	background-color: #aaa;
	color: #000;
}

nav {
	scrollbar-color: #aaa #000;
}

th { background-color: #555; }


.card-content {
	
}

.card-content:hover {
	
}

.card-content {
	border: 5px double #aaa;
}

.card-content:hover {
	border-style: solid;
	background-color: #aaa
}