body,
input,
textarea,
button,
samp div.caption {
	font-family: SyneMono, Console, monospace;
}

:root {
	--white: #fff;
	--blue: #1a3665;
	--light-gray: #eee;
	--gray: #ddd;
	--dark-gray: #aaa;
	--black: #000;
}

nav {
	outline: 1px solid var(--dark-gray);
	scrollbar-color: #aaa #eee;
}

div#side-menu {
	border-right: 1px solid var(--dark-gray);
}

header,
nav,
div#side-menu,
samp div {
	background-color: var(--light-gray);
	color: var(--black);
}



hr,
samp {
	border-color: var(--dark-gray);
}

body {
	background-color: #eee;
	color: var(--black);
}

header {
	outline: 1px solid  var(--dark-gray);
	background-color: var(--white);
}

main {
	background-color: var(--white);
	color: var(--black);
	outline-width: 1px;
	outline-style: solid;
	outline-color: var(--dark-gray);
}















a {
	color: var(--blue);
}

nav a:hover,
nav li.focusable:focus,
nav a:hover {
	background-color: var(--gray);
}

main a:hover {
	text-decoration: underline;
}

button.clipboard:hover {
	box-shadow: 0px 0px 5px var(--dark-gray);
}

.card-content {
	border: 1px solid var(--dark-gray);
}

.card-content:hover {
	box-shadow: 0px 0px 3px var(--dark-gray);
}

	.card-caption {
		background-color: var(--light-gray);
	}

.button {
	background-color: rgb(238, 238, 238); /* #eee */
	border: 1px solid var(--dark-gray);
}

.button:hover {
	background-color: rgba(238, 238, 238, 0.7);
	box-shadow: 0px 0px 2px var(--dark-gray);
}

ul.dropdown-list {
	background-color: var(--light-gray);
	outline: 1px solid var(--dark-gray);
}