:root {
	--black: #000;
	--blue: #00a;
	--light-gray: #aaa;
	--dark-gray: #555;
	--bright-blue: #55f;
	--white: #fff;
}

* {
	font-family: "Perfect DOS VGA 437", Consolas, monospace;
}

header,
header a,
nav,
nav a,
nav hr,
samp div {
	background-color: var(--blue);
	color: var(--white);
}

header,
nav {
	border-width: 5px;
	border-style: double;
	text-transform: uppercase;
}

nav {
	border-top: none;
}

header a:hover,
main a:hover,
nav a:hover {
	background-color: var(--bright-blue);
	color: var(--white);
}

body,
main,
main hr,
footer hr {
	background-color: var(--light-gray);
	color: var(--black);
}

hr {
	border: none;
	border-top-width: 5px;
	border-top-style: double;
}

input,
textarea,
button,
.button {
	padding: 10px;
	background-color: var(--blue);
	color: var(--white);
	border-style: outset;
	box-shadow: 5px 5px 0px rgba(85, 85, 85, 0.75);
}

button,
.button,
.button:hover {
	background-color: #0a0;
	color: var(--white);
	text-decoration: none;
}

.button {
	display: inline-block;
}

button:active,
.button {
	border-style: inset;
}








nav {
	scrollbar-color: var(--white) var(--blue);
}


header,
nav,
table,
samp {
	box-shadow: 10px 10px 0px rgba(85, 85, 85, 0.75);
}




th,
td {
	color: var(--white);
	border-color: var(--white);
}

th { background-color: var(--bright-blue); }
td { background-color: var(--blue); }


.card-content {
	border: 5px double var(--white);
	box-shadow: 10px 10px 0px rgba(85, 85, 85, 0.75);
}

.card-content:hover {
	border-style: solid;
}

	.card-caption {
		background-color: var(--blue);
		color: var(--white);
	}