body,
input,
textarea,
button,
pre,
samp div.caption {
	font-family: DOSEGA, Consolas, monospace;
}

header {
	border-bottom: 1px solid #fff;
	text-transform: lowercase;
}

nav {
	z-index: 1;
	margin-top: 42px;
	border-right: 1px solid #fff;
	text-transform: lowercase;
}

body,
header,
header a,
nav,
nav a,
nav hr,
main,
hr {
	background-color: #000;
	color: #fff;
}

samp {
	border-color: #aaa;
}

body {

}

main {
	background-color: #222;
	outline: 1px solid #fff;
}

main a {
	color: #aaa;
}

header a:hover,
header li.focusable:focus,
nav a:hover,
main a:hover,
samp div {
	background-color: #aaa;
	color: #000;
}

ul.dropdown-list,
a.button {
	border: 1px solid #fff;
}

nav {
	scrollbar-color: #fff #000;
}

th { background-color: #555; }


.card-content {
	
}

.card-content:hover {
	
}

.card-content {
	border: 5px double #aaa;
}

.card-content:hover {
	border-style: solid;
	background-color: #aaa
}

@media only screen and (max-width: 1000px) {

	nav {
		outline: 1px solid #fff;
	}

}