body {
	font-family: "Ubuntu Mono", monospace;
}

header {
	z-index: 2;
}

nav {
	margin-top: 42px;
	height: calc(100% - 42px);
}

header,
nav,
samp {
	background-color: #eee;
	color: #000;
}

samp {
	border-color: #aaa;
}

body,
main {
	background-color: #fff;
	color: #000;
}





header,
nav {
	box-shadow: 0px 0px 10px #777;
}




hr {
	border: 1px solid #bbb;
}





a {
	color: #1a3665;
}

header a:hover,
nav a:hover {
	background-color: #ddd;
}


.card-content {
	box-shadow: 0px 0px 3px #aaa;
}

.card-content:hover {
	box-shadow: 0px 0px 7px #aaa;
}

	.card-caption {
		background-color: #eee;
	}