@font-face {
	font-family: "Perfect DOS VGA 437";
 	src: url("webfonts/Perfect DOS VGA 437.ttf");
}

kbd
{
	background-color: #f7f7f7;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 0 0 2px #fff inset;
	color :#333;
	font-size: 12px;
	padding: .1em .6em;
}

pre {
	font-family: Consolas, monospace;
	background-color: #000;
	color: #fff;
	max-width: calc(80ch + 2px);
	padding: 2px;
	overflow-x: auto;
}

div.textToCopy {
	margin: 10px 0;
	font-size: 20px;
}

input.code {
	width: calc(100% - 51px);
	height: 24px;
	background-color: #000;
	color: #fff;
	font-family: "Ubuntu Mono", monospace;
	font-size: 18px;
}

button.btnCopyToClipboard {
	//float: right;
	margin: 0;
	//padding: 5px;
	width: 40px;
	height: 40px;
	border: none;
	box-shadow: 0px 0px 5px #aaa;
	font-size: 20px;
}










* { box-sizing: border-box; }
html { scroll-behavior: smooth; }
body {
	margin: 0;
	font-family: "Ubuntu Mono", monospace;
	font-size: 16px;
}

header {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
}

#header-content,
#wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

#wrapper {
	//position: relative;
}

nav {
	position: fixed;
	z-index: 0;
	top: 0;
	padding-top: 38px;
	width: 250px;
	height: 100%;
	white-space: nowrap;
	scrollbar-width: thin;
	overflow-y: auto;
	overflow-x: hidden;
}

nav h2 {
	font-size: 26px;
}

nav ul i {
	vertical-align: sub;
}

nav a {
	display: block;
	padding: 7px 10px;
}

nav a i {
	margin-right: 5px;
	font-size: 24px;
}

main {
	position: relative;
	z-index: 1;
	margin-top: 40px;
	margin-left: 250px;
	padding: 20px;
}

section {
	margin: 20px 0;
	overflow: auto;
}

article {
	padding-top: 40px;
}

footer {
	margin: 20px;
	margin-left: 250px;
	text-align: center;
}

header ul {
	float: right;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

header ul li {
	display: inline;
}

header ul li a {
	float: left;
	padding: 12px 6px;
}

ul {
	
	list-style-type: none;
}

nav ul {
	padding-left: 0;
}

main ul {
	padding-left: 10px;
}

a { text-decoration: none; }

main a:hover {
	text-decoration: underline;
}

h1 {
	float: left;
	margin: 0;
	font-size: 26px;
}

h1 a {
	display: inline-block;
	padding: 6px 8px;
}

h2, h3, h4, h5 {
	font-weight: normal;
}

h2 {
	margin: 0;
	font-size: 42px;
}

footer h2 { font-size: 18px; }

h3 {
	font-size: 30px;
}

h4 {
	margin: 20px 0;
	font-size: 26px;
}

h5 {
	margin: 0;
	font-size: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

/*th, td {
	padding: 5px;
	text-align: center;
}

td:first-child {
	text-align: left;
}*/



th, td {
	padding: 5px;
	border: 1px solid #bbb;
	text-align: center;
}

th {
	background-color: #444;
	color: white;
}

.screenshot {
	margin: 70px 0;
}

.screenshot a {
	display: block;
	margin: 10px;
	box-shadow: 0px 0px 10px #000;
	transition: all 0.2s ease-in-out;
}

.screenshot a:hover {
	opacity: 0.8;
}

main img {
	width: 100%;
}

header img {
	display: inline-block;
	margin-bottom: -2px;
	width: 20px;
}

input[type="text"] {
	//width: 200px;
}

textarea {
}

.float-left { float: left; }
.float-right { float: right; }
.clear { clear: both; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.col-50 { width: 50%; }
.col-33 { width: 33.3%; }
.col-25 { width: 25%; }
.col-16 { width: 16.6%; }

.card-container {
	display: inline-block;
	padding: 5px;
	//background-color: blue;
}
.padding-5 img  {
	padding: 5px;
}

.card-content {
	box-shadow: 0px 0px 3px #aaa;
}

.card-content:hover {
	box-shadow: 0px 0px 7px #aaa;
}

.card-caption {
	padding: 5px;
	text-align: center;
	background-color: #eee;
}

.card-content img {
	display: block;
}

.card-container a:hover {
	text-decoration: none;
}

.card-container h3 {
	font-size: 22px;
}

.card-container p {
	font-size: 14px;
}


dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
  padding: 5px;
  font-size: large;
}

dd {
  grid-column-start: 2;
  padding: 5px;
}






@media only screen and (max-width: 1000px) {
	body { margin: 0; }
	header span { display: none; }
	nav {
		z-index: 1;
		width: 50px;
		box-shadow: 0px 0px 10px #777;
	}
	main {
		z-index: 0;
		padding: 10px;
	}
	main, footer { margin-left: 50px; }
	section { padding: 10px; }

	.col-50 { width: 100%; }
	.col-33 { width: 100%; }
	.col-25 { width: 50%; }
	.col-16 { width: 33.3%; }
}