body {
	font-family: "Perfect DOS VGA 437", Consolas, monospace;
	font-variant: small-caps;
}

nav {
	margin-top: 45px;
	height: calc(100% - 45px);
}

header {
	border-bottom-width: 1px;
	border-bottom-style: double;
}

nav {
	border-right-width: 1px;
	border-right-style: double;
}

hr {
	border: none;
	border-top-width: 1px;
	border-top-style: double;
}

body,
header,
header a,
nav,
nav a,
nav hr,
main,
hr {
	background-color: #000;
	color: #fff;
}

main a {
	color: #fff;
}

header a:hover,
main a:hover,
nav a:hover {
	background-color: #aaa;
	color: #000;
	text-decoration: none;
}

nav {
	scrollbar-color: #aaa #000;
}

th { background-color: #555; }