body {
	font-family: "Ubuntu Mono", monospace;
}

header {
	z-index: 2;
}

nav {
	margin-top: 42px;
	height: calc(100% - 42px);
}

header,
nav {
	background-color: #eee;
	color: #000;
}

body,
main {
	background-color: #fff;
	color: #000;
}





header,
nav,
table,
pre {
	box-shadow: 0px 0px 10px #777;
}




hr {
	border: 1px solid #bbb;
}





a {
	color: #1a3665;
}

header a:hover,
nav a:hover {
	background-color: #ddd;
}