:root {
	--black: #000;
	--blue: #00a;
	--light-gray: #aaa;
	--dark-gray: #555;
	--bright-blue: #55f;
	--white: #fff;
}

body {
	font-family: "Perfect DOS VGA 437", Consolas, monospace;
	/*font-variant: small-caps;*/
}

body,
header,
header a,
nav,
nav a,
nav hr {
	background-color: var(--light-gray);
	color: var(--black);
}

header a:hover,
nav a:hover {
	background-color: var(--dark-gray);
	color: var(--white);
}

main,
main hr {
	background-color: var(--blue);
	color: var(--white);
}

nav hr,
main hr {
	border-width: 2px;
	border-style: dashed;
}









header {
	box-shadow: 0px 2px 0px var(--dark-gray);
}

nav {
	scrollbar-color: #000 var(--light-gray);
}

main {
	box-shadow: 10px 10px 0px var(--dark-gray);
}






th {
	background-color: var(--dark-gray);
	color: var(--white);
	border-color: var(--black);
}

td {
	background-color: var(--light-gray);
	color: var(--black);
	border-color: var(--black);
}