:root {
	--black: #000;
	--blue: #00a;
	--light-gray: #aaa;
	--dark-gray: #555;
	--bright-blue: #55f;
	--white: #fff;
}

body {
	font-family: "Perfect DOS VGA 437", Consolas, monospace;
	font-variant: small-caps;
}

header,
nav {
	border-width: 5px;
	border-style: double;
}

nav {
	border-top: none;
}

nav hr,
main hr {
	border: none;
	border-top-width: 5px;
	border-top-style: double;
}

body,
header,
header a,
nav,
nav a,
nav hr,
main,
main hr {
	background-color: #000;
	color: #aaa;
}

main a {
	color: #fff;
}

header a:hover,
main a:hover,
nav a:hover {
	background-color: #aaa;
	color: #000;
	text-decoration: none;
}

nav {
	scrollbar-color: #aaa #000;
}

th { background-color: var(--dark-gray); }